/* App.css */


:root {
    --header-height: 40px;
    --footer-height: 30px;
    --main-text-color: #0e4dea;
    --main-background-color: rgb(224, 226, 234);
    --main-font-color: rgb(255, 255, 255);
}

html, body, #root {
    height: 99.9% !important;
    width: 100%;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--main-text-color);
}


.main-layout {
    height: 100%;
    width: 100%;
    flex-direction: column !important;
    background-color: var(--main-background-color);
}

.custom-fixed-header {
    height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 15px;
    /*margin: 0 5px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-font-color);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.custom-fixed-footer {
    height: var(--footer-height);
    line-height: var(--footer-height);
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 15px;
    /*margin: 0 5px;*/
    background-color: var(--main-font-color);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

}

.main-inner-layout {
    display: flex;
    height: calc(100% - 70px);
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.custom-fixed-content {
    background-color: var(--main-background-color);
    padding: 5px;
}

.custom-fixed-left {
    flex: 0 0 300px !important;
    width: 300px !important;
    max-width: 300px !important;
    padding: 5px;
    color: saddlebrown;
    overflow: hidden;
    background-color: var(--main-font-color);
    border-radius: 5px;
    margin: 5px;
}

.image-list-sidebar-scroll {
    height: 100%;
    overflow-y: auto; /* 只让内容滚动 */
    overflow-x: auto; /* 禁止横向滚动 */
}


.custom-fixed-right {
    width: 200px;
    padding: 5px;
    overflow-y: auto;
    color: var(--main-font-color);
    background-color: khaki;
    border-radius: 5px;
    font-style: italic;
    margin: 5px;
}

